<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./score0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,48}</string>
    <key>spriteSourceSize</key>
    <string>{33,48}</string>
    <key>textureRect</key>
    <string>{{0,0},{33,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./score1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,46}</string>
    <key>spriteSourceSize</key>
    <string>{28,46}</string>
    <key>textureRect</key>
    <string>{{128,0},{28,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./score2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{30,46}</string>
    <key>textureRect</key>
    <string>{{86,57},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./score3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{30,46}</string>
    <key>textureRect</key>
    <string>{{126,57},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./score4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,46}</string>
    <key>spriteSourceSize</key>
    <string>{34,46}</string>
    <key>textureRect</key>
    <string>{{0,58},{34,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./score5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{30,46}</string>
    <key>textureRect</key>
    <string>{{86,113},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./score6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,47}</string>
    <key>spriteSourceSize</key>
    <string>{32,47}</string>
    <key>textureRect</key>
    <string>{{44,58},{32,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./score7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,46}</string>
    <key>spriteSourceSize</key>
    <string>{30,46}</string>
    <key>textureRect</key>
    <string>{{126,113},{30,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./score8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,48}</string>
    <key>spriteSourceSize</key>
    <string>{33,48}</string>
    <key>textureRect</key>
    <string>{{43,0},{33,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./score9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,47}</string>
    <key>spriteSourceSize</key>
    <string>{32,47}</string>
    <key>textureRect</key>
    <string>{{86,0},{32,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{166,169}</string>
   <key>textureFileName</key>
   <string>Score.png</string>
  </dict>
 </dict>
</plist>
