<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./attack_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{260,210},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{260,0},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{0,210},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{0,0},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1560,840},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,1680},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{260,1680},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_teleport_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1560,1260},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_teleport_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{260,1680},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_teleport_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1040,1680},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_teleport_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1300,1470},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_teleport_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1560,1050},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_teleport_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{780,1680},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_teleport_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1300,1260},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_teleport_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1040,1470},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_teleport_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1560,840},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./attack_teleport_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,1680},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1560,630},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{0,1680},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1560,420},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1300,1050},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{780,1470},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1040,1260},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1560,420},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1560,210},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_loop_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1300,840},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_loop_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,1470},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_loop_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1560,0},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_loop_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1560,0},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_loop_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,1470},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cast_loop_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1300,840},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dead_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{260,1470},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dead_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{780,1260},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dead_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1040,1050},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dead_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{0,1470},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dead_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1300,630},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dead_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1300,420},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dead_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,1260},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dead_loop_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1040,840},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dead_loop_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1300,210},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dead_loop_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{780,1050},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./flying_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1300,0},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./flying_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{260,1260},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./flying_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{0,1260},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./flying_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1040,630},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./flying_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,1050},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./flying_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{780,840},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./flying_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1040,420},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./flying_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{260,1050},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./hit_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1040,210},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./hit_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{0,1050},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./hit_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{1040,0},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./hit_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{780,630},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,840},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{780,420},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{260,840},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{0,840},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,630},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{780,210},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{780,0},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{260,630},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_teleport_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,420},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_teleport_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{0,630},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_teleport_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,210},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_teleport_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{520,0},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_teleport_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{260,420},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ready_teleport_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,200}</string>
    <key>spriteSourceSize</key>
    <string>{250,200}</string>
    <key>textureRect</key>
    <string>{{0,420},{250,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1820,1890}</string>
   <key>textureFileName</key>
   <string>green_boss.png</string>
  </dict>
 </dict>
</plist>
