<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./DashCircle1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{50,27}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{100,138},{50,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./DashCircle2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{62,35}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{100,83},{62,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./DashCircle3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{76,47}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{98,0},{76,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./DashCircle4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{80,55}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,83},{80,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./DashCircle5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-6}</string>
    <key>spriteSize</key>
    <string>{78,63}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,0},{78,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{194,185}</string>
   <key>textureFileName</key>
   <string>DashCircle.png</string>
  </dict>
 </dict>
</plist>
