<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./a981298af5524be6ddc0f49aa6f318f9KsESH9GzcNXWckC4-0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{547,196}</string>
    <key>spriteSourceSize</key>
    <string>{547,196}</string>
    <key>textureRect</key>
    <string>{{0,0},{547,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./a981298af5524be6ddc0f49aa6f318f9KsESH9GzcNXWckC4-1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{547,196}</string>
    <key>spriteSourceSize</key>
    <string>{547,196}</string>
    <key>textureRect</key>
    <string>{{0,206},{547,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./a981298af5524be6ddc0f49aa6f318f9KsESH9GzcNXWckC4-2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{547,196}</string>
    <key>spriteSourceSize</key>
    <string>{547,196}</string>
    <key>textureRect</key>
    <string>{{0,412},{547,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./a981298af5524be6ddc0f49aa6f318f9KsESH9GzcNXWckC4-3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{547,196}</string>
    <key>spriteSourceSize</key>
    <string>{547,196}</string>
    <key>textureRect</key>
    <string>{{557,0},{547,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./a981298af5524be6ddc0f49aa6f318f9KsESH9GzcNXWckC4-4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{547,196}</string>
    <key>spriteSourceSize</key>
    <string>{547,196}</string>
    <key>textureRect</key>
    <string>{{557,206},{547,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./a981298af5524be6ddc0f49aa6f318f9KsESH9GzcNXWckC4-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{547,196}</string>
    <key>spriteSourceSize</key>
    <string>{547,196}</string>
    <key>textureRect</key>
    <string>{{0,618},{547,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./a981298af5524be6ddc0f49aa6f318f9KsESH9GzcNXWckC4-6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{547,196}</string>
    <key>spriteSourceSize</key>
    <string>{547,196}</string>
    <key>textureRect</key>
    <string>{{557,412},{547,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./a981298af5524be6ddc0f49aa6f318f9KsESH9GzcNXWckC4-7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{547,196}</string>
    <key>spriteSourceSize</key>
    <string>{547,196}</string>
    <key>textureRect</key>
    <string>{{0,824},{547,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./a981298af5524be6ddc0f49aa6f318f9KsESH9GzcNXWckC4-8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{547,196}</string>
    <key>spriteSourceSize</key>
    <string>{547,196}</string>
    <key>textureRect</key>
    <string>{{557,618},{547,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./a981298af5524be6ddc0f49aa6f318f9KsESH9GzcNXWckC4-9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{547,196}</string>
    <key>spriteSourceSize</key>
    <string>{547,196}</string>
    <key>textureRect</key>
    <string>{{557,824},{547,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1114,1114}</string>
   <key>textureFileName</key>
   <string>FistAttack.png</string>
  </dict>
 </dict>
</plist>
