<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Hit_Critical_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{71,72}</string>
    <key>spriteSourceSize</key>
    <string>{85,84}</string>
    <key>textureRect</key>
    <string>{{107,106},{71,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hit_Critical_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{77,76}</string>
    <key>spriteSourceSize</key>
    <string>{87,86}</string>
    <key>textureRect</key>
    <string>{{0,0},{77,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hit_Critical_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{77,76}</string>
    <key>spriteSourceSize</key>
    <string>{87,86}</string>
    <key>textureRect</key>
    <string>{{0,106},{77,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hit_Critical_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,76}</string>
    <key>spriteSourceSize</key>
    <string>{87,86}</string>
    <key>textureRect</key>
    <string>{{107,0},{75,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hit_Critical_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{50,47}</string>
    <key>spriteSourceSize</key>
    <string>{78,80}</string>
    <key>textureRect</key>
    <string>{{107,208},{50,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hit_Critical_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,6}</string>
    <key>spriteSize</key>
    <string>{50,17}</string>
    <key>spriteSourceSize</key>
    <string>{68,66}</string>
    <key>textureRect</key>
    <string>{{0,212},{50,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Hit_Critical_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,12}</string>
    <key>spriteSize</key>
    <string>{50,6}</string>
    <key>spriteSourceSize</key>
    <string>{68,63}</string>
    <key>textureRect</key>
    <string>{{187,208},{50,6}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{285,285}</string>
   <key>textureFileName</key>
   <string>HitEffect.png</string>
  </dict>
 </dict>
</plist>
