<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./LF2MovieNo4[3][148]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,7}</string>
    <key>spriteSize</key>
    <string>{91,88}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1451,172},{91,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][149]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,6}</string>
    <key>spriteSize</key>
    <string>{93,85}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1188,976},{93,85}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][150]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,5}</string>
    <key>spriteSize</key>
    <string>{87,79}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{0,1548},{87,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][151]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,11}</string>
    <key>spriteSize</key>
    <string>{89,91}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1188,715},{89,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][152]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-2}</string>
    <key>spriteSize</key>
    <string>{77,107}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{263,1278},{77,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][153]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-4}</string>
    <key>spriteSize</key>
    <string>{67,93}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1451,692},{67,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][154]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-12}</string>
    <key>spriteSize</key>
    <string>{63,92}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{855,1409},{63,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][155]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-15}</string>
    <key>spriteSize</key>
    <string>{53,81}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1451,1196},{53,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][156]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-11}</string>
    <key>spriteSize</key>
    <string>{67,71}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1451,955},{67,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][157]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-7}</string>
    <key>spriteSize</key>
    <string>{53,60}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1423,1474},{53,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][158]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-2}</string>
    <key>spriteSize</key>
    <string>{43,49}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1674,1196},{43,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][159]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-2}</string>
    <key>spriteSize</key>
    <string>{31,45}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1688,692},{31,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][160]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{31,43}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1688,907},{31,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][161]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-3}</string>
    <key>spriteSize</key>
    <string>{31,38}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1674,1415},{31,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][162]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-3}</string>
    <key>spriteSize</key>
    <string>{31,38}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1674,1623},{31,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][163]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-2}</string>
    <key>spriteSize</key>
    <string>{37,38}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{855,1671},{37,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][164]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,2}</string>
    <key>spriteSize</key>
    <string>{47,48}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{594,1662},{47,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][165]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,3}</string>
    <key>spriteSize</key>
    <string>{65,62}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1188,1474},{65,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][166]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,3}</string>
    <key>spriteSize</key>
    <string>{75,73}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1188,1231},{75,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][167]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,4}</string>
    <key>spriteSize</key>
    <string>{81,80}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{263,1555},{81,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][168]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,4}</string>
    <key>spriteSize</key>
    <string>{85,86}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{594,1406},{85,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][169]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,4}</string>
    <key>spriteSize</key>
    <string>{87,92}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1451,430},{87,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][170]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,4}</string>
    <key>spriteSize</key>
    <string>{91,96}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{594,1140},{91,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][171]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,4}</string>
    <key>spriteSize</key>
    <string>{93,100}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1188,445},{93,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][172]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{93,100}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{0,1278},{93,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][173]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{93,103}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{1188,172},{93,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][174]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,6}</string>
    <key>spriteSize</key>
    <string>{81,99}</string>
    <key>spriteSourceSize</key>
    <string>{101,116}</string>
    <key>textureRect</key>
    <string>{{855,1140},{81,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][175]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-23}</string>
    <key>spriteSize</key>
    <string>{424,95}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{0,324},{424,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][176]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-21}</string>
    <key>spriteSize</key>
    <string>{424,73}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{594,0},{424,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][177]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-21}</string>
    <key>spriteSize</key>
    <string>{424,61}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{0,837},{424,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][178]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-21}</string>
    <key>spriteSize</key>
    <string>{424,49}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{594,710},{424,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][179]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-26}</string>
    <key>spriteSize</key>
    <string>{424,78}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{0,589},{424,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][180]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-22}</string>
    <key>spriteSize</key>
    <string>{424,64}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{594,243},{424,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][181]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-21}</string>
    <key>spriteSize</key>
    <string>{424,63}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{594,477},{424,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][182]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-22}</string>
    <key>spriteSize</key>
    <string>{424,2}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{1188,0},{424,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][183]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,44}</string>
    <key>spriteSize</key>
    <string>{424,154}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{0,0},{424,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][184]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-19}</string>
    <key>spriteSize</key>
    <string>{418,40}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{0,1068},{418,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LF2MovieNo4[3][185]</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,-17}</string>
    <key>spriteSize</key>
    <string>{402,41}</string>
    <key>spriteSourceSize</key>
    <string>{426,258}</string>
    <key>textureRect</key>
    <string>{{594,929},{402,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1889,1889}</string>
   <key>textureFileName</key>
   <string>SpecialAttackTriggers.png</string>
  </dict>
 </dict>
</plist>
