<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./dreamcatchers_animated_separate0000</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{852,280},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{568,840},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0002</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{852,560},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0003</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{0,1120},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0004</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{1136,0},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0005</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{284,1120},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0006</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{1136,280},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0007</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{852,840},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0008</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{568,1120},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0009</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{1136,560},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0010</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{0,1400},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0011</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{852,1120},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0012</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{1136,840},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0013</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{284,1400},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0014</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{568,1400},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0015</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{1136,1120},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0016</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{0,0},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0017</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{0,280},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0018</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{284,0},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0019</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{284,280},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0020</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{0,560},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0021</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{568,0},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0022</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{284,560},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0023</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{568,280},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0024</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{568,560},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0025</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{0,840},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0026</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{852,0},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dreamcatchers_animated_separate0027</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{274,270}</string>
    <key>spriteSourceSize</key>
    <string>{274,270}</string>
    <key>textureRect</key>
    <string>{{284,840},{274,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1680,1680}</string>
   <key>textureFileName</key>
   <string>SpecialAttackSpellCircle.png</string>
  </dict>
 </dict>
</plist>
