<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./GoldenManeWizard_Attack_Ready_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,94}</string>
    <key>spriteSourceSize</key>
    <string>{59,98}</string>
    <key>textureRect</key>
    <string>{{1141,1143},{55,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,105}</string>
    <key>spriteSourceSize</key>
    <string>{109,109}</string>
    <key>textureRect</key>
    <string>{{1372,1127},{105,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,145}</string>
    <key>spriteSourceSize</key>
    <string>{149,149}</string>
    <key>textureRect</key>
    <string>{{0,1450},{145,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,150}</string>
    <key>spriteSourceSize</key>
    <string>{153,154}</string>
    <key>textureRect</key>
    <string>{{913,1410},{149,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{153,151}</string>
    <key>spriteSourceSize</key>
    <string>{157,156}</string>
    <key>textureRect</key>
    <string>{{1078,1248},{153,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{153,154}</string>
    <key>spriteSourceSize</key>
    <string>{157,158}</string>
    <key>textureRect</key>
    <string>{{396,1437},{153,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,154}</string>
    <key>spriteSourceSize</key>
    <string>{159,158}</string>
    <key>textureRect</key>
    <string>{{835,1031},{155,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,152}</string>
    <key>spriteSourceSize</key>
    <string>{159,158}</string>
    <key>textureRect</key>
    <string>{{1412,594},{155,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,154}</string>
    <key>spriteSourceSize</key>
    <string>{159,158}</string>
    <key>textureRect</key>
    <string>{{583,1248},{155,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,154}</string>
    <key>spriteSourceSize</key>
    <string>{159,158}</string>
    <key>textureRect</key>
    <string>{{748,1248},{155,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,152}</string>
    <key>spriteSourceSize</key>
    <string>{159,158}</string>
    <key>textureRect</key>
    <string>{{913,1248},{155,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,152}</string>
    <key>spriteSourceSize</key>
    <string>{159,158}</string>
    <key>textureRect</key>
    <string>{{583,1412},{155,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,105}</string>
    <key>spriteSourceSize</key>
    <string>{109,109}</string>
    <key>textureRect</key>
    <string>{{1463,1410},{105,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,154}</string>
    <key>spriteSourceSize</key>
    <string>{159,158}</string>
    <key>textureRect</key>
    <string>{{1209,815},{155,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,154}</string>
    <key>spriteSourceSize</key>
    <string>{159,158}</string>
    <key>textureRect</key>
    <string>{{1044,815},{155,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,154}</string>
    <key>spriteSourceSize</key>
    <string>{159,158}</string>
    <key>textureRect</key>
    <string>{{1247,594},{155,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,154}</string>
    <key>spriteSourceSize</key>
    <string>{159,158}</string>
    <key>textureRect</key>
    <string>{{1044,979},{155,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{153,152}</string>
    <key>spriteSourceSize</key>
    <string>{157,158}</string>
    <key>textureRect</key>
    <string>{{1209,979},{153,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{153,151}</string>
    <key>spriteSourceSize</key>
    <string>{157,156}</string>
    <key>textureRect</key>
    <string>{{748,1412},{153,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,148}</string>
    <key>spriteSourceSize</key>
    <string>{153,152}</string>
    <key>textureRect</key>
    <string>{{198,1446},{149,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{141,139}</string>
    <key>spriteSourceSize</key>
    <string>{145,144}</string>
    <key>textureRect</key>
    <string>{{1424,415},{141,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{117,114}</string>
    <key>spriteSourceSize</key>
    <string>{119,118}</string>
    <key>textureRect</key>
    <string>{{1447,253},{117,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{87,84}</string>
    <key>spriteSourceSize</key>
    <string>{89,90}</string>
    <key>textureRect</key>
    <string>{{1044,1143},{87,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,105}</string>
    <key>spriteSourceSize</key>
    <string>{109,108}</string>
    <key>textureRect</key>
    <string>{{1348,1410},{105,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,129}</string>
    <key>spriteSourceSize</key>
    <string>{131,133}</string>
    <key>textureRect</key>
    <string>{{1211,1410},{127,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_31</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,153}</string>
    <key>spriteSourceSize</key>
    <string>{156,157}</string>
    <key>textureRect</key>
    <string>{{1374,815},{152,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_32</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{167,169}</string>
    <key>spriteSourceSize</key>
    <string>{171,173}</string>
    <key>textureRect</key>
    <string>{{1247,415},{167,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_33</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{177,179}</string>
    <key>spriteSourceSize</key>
    <string>{181,183}</string>
    <key>textureRect</key>
    <string>{{396,1248},{177,179}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_34</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{185,187}</string>
    <key>spriteSourceSize</key>
    <string>{189,191}</string>
    <key>textureRect</key>
    <string>{{1250,209},{185,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_35</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{191,191}</string>
    <key>spriteSourceSize</key>
    <string>{195,195}</string>
    <key>textureRect</key>
    <string>{{835,830},{191,191}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_36</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{195,195}</string>
    <key>spriteSourceSize</key>
    <string>{199,199}</string>
    <key>textureRect</key>
    <string>{{414,1042},{195,195}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_37</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,196}</string>
    <key>spriteSourceSize</key>
    <string>{201,200}</string>
    <key>textureRect</key>
    <string>{{0,1042},{197,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_38</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,197}</string>
    <key>spriteSourceSize</key>
    <string>{202,201}</string>
    <key>textureRect</key>
    <string>{{418,835},{198,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_39</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,198}</string>
    <key>spriteSourceSize</key>
    <string>{203,202}</string>
    <key>textureRect</key>
    <string>{{625,208},{199,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{118,116}</string>
    <key>spriteSourceSize</key>
    <string>{120,119}</string>
    <key>textureRect</key>
    <string>{{1447,127},{118,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_40</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{193,188}</string>
    <key>spriteSourceSize</key>
    <string>{203,203}</string>
    <key>textureRect</key>
    <string>{{1044,617},{193,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_41</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{193,188}</string>
    <key>spriteSourceSize</key>
    <string>{203,203}</string>
    <key>textureRect</key>
    <string>{{619,1042},{193,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_42</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,199}</string>
    <key>spriteSourceSize</key>
    <string>{202,203}</string>
    <key>textureRect</key>
    <string>{{0,626},{198,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_43</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{188,188}</string>
    <key>spriteSourceSize</key>
    <string>{202,203}</string>
    <key>textureRect</key>
    <string>{{198,1248},{188,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_44</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,199}</string>
    <key>spriteSourceSize</key>
    <string>{202,203}</string>
    <key>textureRect</key>
    <string>{{0,0},{198,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_45</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,199}</string>
    <key>spriteSourceSize</key>
    <string>{202,203}</string>
    <key>textureRect</key>
    <string>{{208,626},{198,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_46</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{188,192}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{0,1248},{188,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_47</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,198}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{627,418},{198,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_48</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{193,192}</string>
    <key>spriteSourceSize</key>
    <string>{201,202}</string>
    <key>textureRect</key>
    <string>{{1044,415},{193,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_49</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{188,188}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{1249,0},{188,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{118,117}</string>
    <key>spriteSourceSize</key>
    <string>{120,120}</string>
    <key>textureRect</key>
    <string>{{1447,0},{118,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_50</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{196,196}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{1044,209},{196,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_51</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,198}</string>
    <key>spriteSourceSize</key>
    <string>{202,202}</string>
    <key>textureRect</key>
    <string>{{416,626},{198,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_52</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{197,197}</string>
    <key>spriteSourceSize</key>
    <string>{203,201}</string>
    <key>textureRect</key>
    <string>{{835,623},{197,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_53</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{197,196}</string>
    <key>spriteSourceSize</key>
    <string>{203,201}</string>
    <key>textureRect</key>
    <string>{{626,835},{197,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_54</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,197}</string>
    <key>spriteSourceSize</key>
    <string>{203,201}</string>
    <key>textureRect</key>
    <string>{{835,416},{199,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_55</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{197,196}</string>
    <key>spriteSourceSize</key>
    <string>{203,201}</string>
    <key>textureRect</key>
    <string>{{207,1042},{197,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_56</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,197}</string>
    <key>spriteSourceSize</key>
    <string>{203,201}</string>
    <key>textureRect</key>
    <string>{{0,835},{199,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_57</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,197}</string>
    <key>spriteSourceSize</key>
    <string>{203,201}</string>
    <key>textureRect</key>
    <string>{{209,835},{199,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_58</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,196}</string>
    <key>spriteSourceSize</key>
    <string>{203,201}</string>
    <key>textureRect</key>
    <string>{{1042,0},{197,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_59</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,197}</string>
    <key>spriteSourceSize</key>
    <string>{203,201}</string>
    <key>textureRect</key>
    <string>{{835,209},{199,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{129,126}</string>
    <key>spriteSourceSize</key>
    <string>{131,132}</string>
    <key>textureRect</key>
    <string>{{1378,1248},{129,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_60</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,198}</string>
    <key>spriteSourceSize</key>
    <string>{203,202}</string>
    <key>textureRect</key>
    <string>{{208,0},{199,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_61</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,199}</string>
    <key>spriteSourceSize</key>
    <string>{202,203}</string>
    <key>textureRect</key>
    <string>{{0,209},{198,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_62</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,199}</string>
    <key>spriteSourceSize</key>
    <string>{202,203}</string>
    <key>textureRect</key>
    <string>{{208,208},{198,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_63</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,199}</string>
    <key>spriteSourceSize</key>
    <string>{201,203}</string>
    <key>textureRect</key>
    <string>{{835,0},{197,199}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_64</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,198}</string>
    <key>spriteSourceSize</key>
    <string>{203,202}</string>
    <key>textureRect</key>
    <string>{{417,0},{199,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_65</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,198}</string>
    <key>spriteSourceSize</key>
    <string>{203,202}</string>
    <key>textureRect</key>
    <string>{{0,418},{199,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_66</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,198}</string>
    <key>spriteSourceSize</key>
    <string>{203,202}</string>
    <key>textureRect</key>
    <string>{{416,208},{199,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_67</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,198}</string>
    <key>spriteSourceSize</key>
    <string>{203,202}</string>
    <key>textureRect</key>
    <string>{{209,418},{199,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_68</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,198}</string>
    <key>spriteSourceSize</key>
    <string>{203,202}</string>
    <key>textureRect</key>
    <string>{{418,418},{199,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_69</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,198}</string>
    <key>spriteSourceSize</key>
    <string>{203,202}</string>
    <key>textureRect</key>
    <string>{{626,0},{199,198}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,128}</string>
    <key>spriteSourceSize</key>
    <string>{131,132}</string>
    <key>textureRect</key>
    <string>{{1072,1410},{129,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_70</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,197}</string>
    <key>spriteSourceSize</key>
    <string>{203,201}</string>
    <key>textureRect</key>
    <string>{{624,626},{199,197}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,132}</string>
    <key>spriteSourceSize</key>
    <string>{131,132}</string>
    <key>textureRect</key>
    <string>{{1241,1248},{127,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./GoldenManeWizard_Attack_Ready_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{139,138}</string>
    <key>spriteSourceSize</key>
    <string>{143,142}</string>
    <key>textureRect</key>
    <string>{{1372,979},{139,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1578,1605}</string>
   <key>textureFileName</key>
   <string>SpecialAttackWait.png</string>
  </dict>
 </dict>
</plist>
