<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./ddg_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,32}</string>
    <key>spriteSize</key>
    <string>{59,26}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{914,689},{59,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,27}</string>
    <key>spriteSize</key>
    <string>{53,58}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{920,249},{53,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,8}</string>
    <key>spriteSize</key>
    <string>{65,92}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{715,0},{65,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-3}</string>
    <key>spriteSize</key>
    <string>{89,97}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{0,249},{89,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{91,99}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{0,0},{91,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-4}</string>
    <key>spriteSize</key>
    <string>{91,99}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{241,0},{91,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-5}</string>
    <key>spriteSize</key>
    <string>{83,98}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{482,0},{83,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-5}</string>
    <key>spriteSize</key>
    <string>{83,97}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{0,496},{83,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-5}</string>
    <key>spriteSize</key>
    <string>{83,97}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{474,249},{83,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-8}</string>
    <key>spriteSize</key>
    <string>{85,93}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{233,496},{85,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-8}</string>
    <key>spriteSize</key>
    <string>{85,97}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{239,249},{85,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-5}</string>
    <key>spriteSize</key>
    <string>{81,97}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{468,496},{81,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,9}</string>
    <key>spriteSize</key>
    <string>{63,70}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{707,249},{63,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,10}</string>
    <key>spriteSize</key>
    <string>{63,70}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{233,739},{63,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{63,70}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{707,469},{63,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,14}</string>
    <key>spriteSize</key>
    <string>{65,64}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{0,743},{65,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,13}</string>
    <key>spriteSize</key>
    <string>{57,66}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{468,743},{57,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ddg_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,12}</string>
    <key>spriteSize</key>
    <string>{57,66}</string>
    <key>spriteSourceSize</key>
    <string>{101,114}</string>
    <key>textureRect</key>
    <string>{{707,689},{57,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1123,959}</string>
   <key>textureFileName</key>
   <string>SwordChi.png</string>
  </dict>
 </dict>
</plist>
