<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./xfz_00000</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-31,-23}</string>
    <key>spriteSize</key>
    <string>{922,623}</string>
    <key>spriteSourceSize</key>
    <string>{1500,1000}</string>
    <key>textureRect</key>
    <string>{{0,0},{922,623}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./xfz_00001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-79,-11}</string>
    <key>spriteSize</key>
    <string>{824,642}</string>
    <key>spriteSourceSize</key>
    <string>{1500,1000}</string>
    <key>textureRect</key>
    <string>{{0,1245},{824,642}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./xfz_00002</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-32,33}</string>
    <key>spriteSize</key>
    <string>{916,554}</string>
    <key>spriteSourceSize</key>
    <string>{1500,1000}</string>
    <key>textureRect</key>
    <string>{{942,1288},{916,554}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./xfz_00003</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,12}</string>
    <key>spriteSize</key>
    <string>{866,596}</string>
    <key>spriteSourceSize</key>
    <string>{1500,1000}</string>
    <key>textureRect</key>
    <string>{{932,0},{866,596}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./xfz_00004</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,-12}</string>
    <key>spriteSize</key>
    <string>{846,645}</string>
    <key>spriteSourceSize</key>
    <string>{1500,1000}</string>
    <key>textureRect</key>
    <string>{{942,633},{846,645}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./xfz_00005</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-24,-34}</string>
    <key>spriteSize</key>
    <string>{932,602}</string>
    <key>spriteSourceSize</key>
    <string>{1500,1000}</string>
    <key>textureRect</key>
    <string>{{0,633},{932,602}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1868,1897}</string>
   <key>textureFileName</key>
   <string>SwordAround.png</string>
  </dict>
 </dict>
</plist>
