<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./boss6_DG5_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{97,192}</string>
    <key>spriteSourceSize</key>
    <string>{97,192}</string>
    <key>textureRect</key>
    <string>{{789,726},{97,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./boss6_DG5_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,217}</string>
    <key>spriteSourceSize</key>
    <string>{176,217}</string>
    <key>textureRect</key>
    <string>{{845,0},{176,217}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./boss6_DG5_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,213}</string>
    <key>spriteSourceSize</key>
    <string>{236,213}</string>
    <key>textureRect</key>
    <string>{{0,762},{236,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./boss6_DG5_04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{275,206}</string>
    <key>spriteSourceSize</key>
    <string>{275,206}</string>
    <key>textureRect</key>
    <string>{{435,370},{275,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./boss6_DG5_05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{285,230}</string>
    <key>spriteSourceSize</key>
    <string>{285,230}</string>
    <key>textureRect</key>
    <string>{{0,0},{285,230}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./boss6_DG5_06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{282,232}</string>
    <key>spriteSourceSize</key>
    <string>{282,232}</string>
    <key>textureRect</key>
    <string>{{0,380},{282,232}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./boss6_DG5_07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,220}</string>
    <key>spriteSourceSize</key>
    <string>{260,220}</string>
    <key>textureRect</key>
    <string>{{435,0},{260,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./boss6_DG5_08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{204,184}</string>
    <key>spriteSourceSize</key>
    <string>{204,184}</string>
    <key>textureRect</key>
    <string>{{435,726},{204,184}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./boss6_DG5_09</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,163}</string>
    <key>spriteSourceSize</key>
    <string>{122,163}</string>
    <key>textureRect</key>
    <string>{{860,370},{122,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./boss6_DG5_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,63}</string>
    <key>spriteSourceSize</key>
    <string>{26,63}</string>
    <key>textureRect</key>
    <string>{{1036,726},{26,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1212,1125}</string>
   <key>textureFileName</key>
   <string>SwordNormal.png</string>
  </dict>
 </dict>
</plist>
