<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./NormalSprite_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{267,398},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{24,29}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{281,197},{24,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_100</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{455,203},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_101</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{28,30}</string>
    <key>spriteSourceSize</key>
    <string>{28,52}</string>
    <key>textureRect</key>
    <string>{{0,94},{28,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_102</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{23,27}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{235,304},{23,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_103</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{16,26}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{487,411},{16,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_104</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{416,254},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_105</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{187,446},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_106</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{18,32}</string>
    <key>spriteSourceSize</key>
    <string>{18,52}</string>
    <key>textureRect</key>
    <string>{{327,250},{18,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_107</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{455,307},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_108</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{455,151},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_109</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{491,47},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{21,27}</string>
    <key>spriteSourceSize</key>
    <string>{21,52}</string>
    <key>textureRect</key>
    <string>{{413,94},{21,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_110</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{455,255},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_111</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-15}</string>
    <key>spriteSize</key>
    <string>{16,22}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{99,455},{16,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_112</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{21,26}</string>
    <key>spriteSourceSize</key>
    <string>{21,52}</string>
    <key>textureRect</key>
    <string>{{267,352},{21,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_113</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{21,26}</string>
    <key>spriteSourceSize</key>
    <string>{21,52}</string>
    <key>textureRect</key>
    <string>{{187,400},{21,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{22,28}</string>
    <key>spriteSourceSize</key>
    <string>{22,52}</string>
    <key>textureRect</key>
    <string>{{0,391},{22,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{24,29}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{235,255},{24,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{27,28}</string>
    <key>spriteSourceSize</key>
    <string>{27,52}</string>
    <key>textureRect</key>
    <string>{{190,47},{27,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{29,25}</string>
    <key>spriteSourceSize</key>
    <string>{29,52}</string>
    <key>textureRect</key>
    <string>{{162,0},{29,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{24,30}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{281,95},{24,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{142,255},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{24,28}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{99,359},{24,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{23,31}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{52,303},{23,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{12,33}</string>
    <key>spriteSourceSize</key>
    <string>{12,52}</string>
    <key>textureRect</key>
    <string>{{455,411},{12,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{26,27}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{211,0},{26,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{23,32}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{144,203},{23,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-13}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{309,0},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{21,29}</string>
    <key>spriteSourceSize</key>
    <string>{21,52}</string>
    <key>textureRect</key>
    <string>{{281,294},{21,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,30}</string>
    <key>spriteSourceSize</key>
    <string>{21,52}</string>
    <key>textureRect</key>
    <string>{{371,99},{21,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{404,0},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,31}</string>
    <key>spriteSourceSize</key>
    <string>{22,52}</string>
    <key>textureRect</key>
    <string>{{327,148},{22,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,31}</string>
    <key>spriteSourceSize</key>
    <string>{21,52}</string>
    <key>textureRect</key>
    <string>{{327,199},{21,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{20,27}</string>
    <key>spriteSourceSize</key>
    <string>{20,52}</string>
    <key>textureRect</key>
    <string>{{327,302},{20,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{19,29}</string>
    <key>spriteSourceSize</key>
    <string>{19,52}</string>
    <key>textureRect</key>
    <string>{{409,149},{19,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{367,302},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,28}</string>
    <key>spriteSourceSize</key>
    <string>{22,52}</string>
    <key>textureRect</key>
    <string>{{143,359},{22,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_31</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{27,29}</string>
    <key>spriteSourceSize</key>
    <string>{27,52}</string>
    <key>textureRect</key>
    <string>{{52,103},{27,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_32</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{23,32}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{99,255},{23,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_33</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{23,32}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{237,98},{23,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_34</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{23,32}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{52,251},{23,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_35</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{23,31}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{235,204},{23,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_36</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{22,32}</string>
    <key>spriteSourceSize</key>
    <string>{22,52}</string>
    <key>textureRect</key>
    <string>{{281,145},{22,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_37</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{24,31}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{189,153},{24,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_38</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{26,30}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{145,103},{26,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_39</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{22,32}</string>
    <key>spriteSourceSize</key>
    <string>{22,52}</string>
    <key>textureRect</key>
    <string>{{327,47},{22,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{20,27}</string>
    <key>spriteSourceSize</key>
    <string>{20,52}</string>
    <key>textureRect</key>
    <string>{{365,250},{20,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_40</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{24,31}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{99,204},{24,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_41</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{26,30}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{99,103},{26,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_42</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{20,27}</string>
    <key>spriteSourceSize</key>
    <string>{20,52}</string>
    <key>textureRect</key>
    <string>{{447,0},{20,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_43</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{29,28}</string>
    <key>spriteSourceSize</key>
    <string>{29,52}</string>
    <key>textureRect</key>
    <string>{{95,47},{29,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_44</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{25,29}</string>
    <key>spriteSourceSize</key>
    <string>{25,52}</string>
    <key>textureRect</key>
    <string>{{0,293},{25,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_45</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{24,29}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{0,342},{24,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_46</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{281,47},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_47</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{189,204},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_48</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{233,153},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_49</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{24,28}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{369,47},{24,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{19,26}</string>
    <key>spriteSourceSize</key>
    <string>{19,52}</string>
    <key>textureRect</key>
    <string>{{140,454},{19,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_50</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{29,22}</string>
    <key>spriteSourceSize</key>
    <string>{29,52}</string>
    <key>textureRect</key>
    <string>{{355,0},{29,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_51</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{24,31}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{237,47},{24,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_52</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{24,28}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{281,246},{24,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_53</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{24,29}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{187,303},{24,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_54</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{25,28}</string>
    <key>spriteSourceSize</key>
    <string>{25,52}</string>
    <key>textureRect</key>
    <string>{{142,303},{25,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_55</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{15,30}</string>
    <key>spriteSourceSize</key>
    <string>{15,52}</string>
    <key>textureRect</key>
    <string>{{491,359},{15,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_56</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{22,32}</string>
    <key>spriteSourceSize</key>
    <string>{22,52}</string>
    <key>textureRect</key>
    <string>{{99,307},{22,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_57</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{24,31}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{0,242},{24,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_58</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{43,27}</string>
    <key>spriteSourceSize</key>
    <string>{43,52}</string>
    <key>textureRect</key>
    <string>{{0,0},{43,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_59</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{25,31}</string>
    <key>spriteSourceSize</key>
    <string>{25,52}</string>
    <key>textureRect</key>
    <string>{{99,153},{25,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{17,27}</string>
    <key>spriteSourceSize</key>
    <string>{17,52}</string>
    <key>textureRect</key>
    <string>{{487,0},{17,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_60</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{32,21}</string>
    <key>spriteSourceSize</key>
    <string>{32,52}</string>
    <key>textureRect</key>
    <string>{{257,0},{32,21}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_61</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{32,27}</string>
    <key>spriteSourceSize</key>
    <string>{32,52}</string>
    <key>textureRect</key>
    <string>{{63,0},{32,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_62</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{32,27}</string>
    <key>spriteSourceSize</key>
    <string>{32,52}</string>
    <key>textureRect</key>
    <string>{{0,47},{32,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_63</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{27,27}</string>
    <key>spriteSourceSize</key>
    <string>{27,52}</string>
    <key>textureRect</key>
    <string>{{115,0},{27,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_64</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{22,27}</string>
    <key>spriteSourceSize</key>
    <string>{22,52}</string>
    <key>textureRect</key>
    <string>{{413,47},{22,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_65</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{25,30}</string>
    <key>spriteSourceSize</key>
    <string>{25,52}</string>
    <key>textureRect</key>
    <string>{{144,153},{25,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_66</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{27,28}</string>
    <key>spriteSourceSize</key>
    <string>{27,52}</string>
    <key>textureRect</key>
    <string>{{0,194},{27,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_67</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{18,33}</string>
    <key>spriteSourceSize</key>
    <string>{18,52}</string>
    <key>textureRect</key>
    <string>{{371,149},{18,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_68</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,22}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{52,450},{23,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_69</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{23,36}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{52,47},{23,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{24,29}</string>
    <key>spriteSourceSize</key>
    <string>{24,52}</string>
    <key>textureRect</key>
    <string>{{327,99},{24,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_70</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{26,29}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{52,202},{26,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_71</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{52,404},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_72</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{23,30}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{52,354},{23,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_73</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{21,28}</string>
    <key>spriteSourceSize</key>
    <string>{21,52}</string>
    <key>textureRect</key>
    <string>{{99,407},{21,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_74</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{26,30}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{52,152},{26,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_75</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{25,30}</string>
    <key>spriteSourceSize</key>
    <string>{25,52}</string>
    <key>textureRect</key>
    <string>{{191,103},{25,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_76</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{23,31}</string>
    <key>spriteSourceSize</key>
    <string>{23,52}</string>
    <key>textureRect</key>
    <string>{{189,252},{23,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_77</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{26,30}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{144,47},{26,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_78</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{26,30}</string>
    <key>spriteSourceSize</key>
    <string>{26,52}</string>
    <key>textureRect</key>
    <string>{{0,144},{26,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_79</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{25,23}</string>
    <key>spriteSourceSize</key>
    <string>{25,52}</string>
    <key>textureRect</key>
    <string>{{371,202},{25,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{21,27}</string>
    <key>spriteSourceSize</key>
    <string>{21,52}</string>
    <key>textureRect</key>
    <string>{{140,407},{21,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_80</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{19,29}</string>
    <key>spriteSourceSize</key>
    <string>{19,52}</string>
    <key>textureRect</key>
    <string>{{0,439},{19,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_81</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{18,31}</string>
    <key>spriteSourceSize</key>
    <string>{18,52}</string>
    <key>textureRect</key>
    <string>{{229,352},{18,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_82</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-9}</string>
    <key>spriteSize</key>
    <string>{17,28}</string>
    <key>spriteSourceSize</key>
    <string>{17,52}</string>
    <key>textureRect</key>
    <string>{{267,450},{17,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_83</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{416,202},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_84</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{229,403},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_85</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{308,352},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_86</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{455,99},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_87</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{455,359},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_88</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{491,307},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_89</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{491,255},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{22,28}</string>
    <key>spriteSourceSize</key>
    <string>{22,52}</string>
    <key>textureRect</key>
    <string>{{187,352},{22,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_90</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{416,358},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_91</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{367,406},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_92</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{491,203},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_93</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,31}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{416,410},{16,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_94</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{416,306},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_95</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{367,354},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_96</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{491,151},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_97</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{455,47},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_98</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{308,404},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./NormalSprite_99</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,52}</string>
    <key>textureRect</key>
    <string>{{491,99},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{527,500}</string>
   <key>textureFileName</key>
   <string>Player.png</string>
  </dict>
 </dict>
</plist>
