<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./circle0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{298,274}</string>
    <key>spriteSourceSize</key>
    <string>{300,276}</string>
    <key>textureRect</key>
    <string>{{0,1091},{298,274}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{210,247}</string>
    <key>spriteSourceSize</key>
    <string>{212,248}</string>
    <key>textureRect</key>
    <string>{{558,1091},{210,247}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{368,356}</string>
    <key>spriteSourceSize</key>
    <string>{368,356}</string>
    <key>textureRect</key>
    <string>{{412,725},{368,356}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{420,350}</string>
    <key>spriteSourceSize</key>
    <string>{420,352}</string>
    <key>textureRect</key>
    <string>{{516,0},{420,350}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{482,356}</string>
    <key>spriteSourceSize</key>
    <string>{484,356}</string>
    <key>textureRect</key>
    <string>{{0,359},{482,356}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{402,356}</string>
    <key>spriteSourceSize</key>
    <string>{404,356}</string>
    <key>textureRect</key>
    <string>{{0,725},{402,356}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{506,349}</string>
    <key>spriteSourceSize</key>
    <string>{508,352}</string>
    <key>textureRect</key>
    <string>{{0,0},{506,349}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{448,322}</string>
    <key>spriteSourceSize</key>
    <string>{448,324}</string>
    <key>textureRect</key>
    <string>{{516,360},{448,322}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{362,306}</string>
    <key>spriteSourceSize</key>
    <string>{364,308}</string>
    <key>textureRect</key>
    <string>{{974,360},{362,306}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{274,362}</string>
    <key>spriteSourceSize</key>
    <string>{276,364}</string>
    <key>textureRect</key>
    <string>{{790,725},{274,362}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,171}</string>
    <key>spriteSourceSize</key>
    <string>{148,172}</string>
    <key>textureRect</key>
    <string>{{1346,360},{148,171}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{148,169}</string>
    <key>spriteSourceSize</key>
    <string>{148,172}</string>
    <key>textureRect</key>
    <string>{{1346,541},{148,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{240,270}</string>
    <key>spriteSourceSize</key>
    <string>{240,272}</string>
    <key>textureRect</key>
    <string>{{308,1091},{240,270}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{146,168}</string>
    <key>spriteSourceSize</key>
    <string>{148,168}</string>
    <key>textureRect</key>
    <string>{{1354,725},{146,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,112}</string>
    <key>spriteSourceSize</key>
    <string>{144,112}</string>
    <key>textureRect</key>
    <string>{{558,1348},{144,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{226,251}</string>
    <key>spriteSourceSize</key>
    <string>{228,252}</string>
    <key>textureRect</key>
    <string>{{1074,1221},{226,251}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{270,238}</string>
    <key>spriteSourceSize</key>
    <string>{272,240}</string>
    <key>textureRect</key>
    <string>{{1074,725},{270,238}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{244,238}</string>
    <key>spriteSourceSize</key>
    <string>{244,240}</string>
    <key>textureRect</key>
    <string>{{1306,0},{244,238}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{244,238}</string>
    <key>spriteSourceSize</key>
    <string>{244,240}</string>
    <key>textureRect</key>
    <string>{{1074,973},{244,238}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{246,238}</string>
    <key>spriteSourceSize</key>
    <string>{248,240}</string>
    <key>textureRect</key>
    <string>{{790,1097},{246,238}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{228,213}</string>
    <key>spriteSourceSize</key>
    <string>{228,216}</string>
    <key>textureRect</key>
    <string>{{1310,1221},{228,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./circle9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{350,350}</string>
    <key>spriteSourceSize</key>
    <string>{352,352}</string>
    <key>textureRect</key>
    <string>{{946,0},{350,350}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1560,1482}</string>
   <key>textureFileName</key>
   <string>Circle.png</string>
  </dict>
 </dict>
</plist>
