<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./dark0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,102}</string>
    <key>spriteSourceSize</key>
    <string>{104,102}</string>
    <key>textureRect</key>
    <string>{{179,431},{104,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,125}</string>
    <key>spriteSourceSize</key>
    <string>{126,125}</string>
    <key>textureRect</key>
    <string>{{179,296},{126,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{157,128}</string>
    <key>spriteSourceSize</key>
    <string>{157,128}</string>
    <key>textureRect</key>
    <string>{{0,329},{157,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{117,111}</string>
    <key>spriteSourceSize</key>
    <string>{117,111}</string>
    <key>textureRect</key>
    <string>{{332,144},{117,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,107}</string>
    <key>spriteSourceSize</key>
    <string>{112,107}</string>
    <key>textureRect</key>
    <string>{{332,265},{112,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,61}</string>
    <key>spriteSourceSize</key>
    <string>{52,61}</string>
    <key>textureRect</key>
    <string>{{494,532},{52,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,64}</string>
    <key>spriteSourceSize</key>
    <string>{52,64}</string>
    <key>textureRect</key>
    <string>{{494,458},{52,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,58}</string>
    <key>spriteSourceSize</key>
    <string>{52,58}</string>
    <key>textureRect</key>
    <string>{{264,543},{52,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,65}</string>
    <key>spriteSourceSize</key>
    <string>{71,65}</string>
    <key>textureRect</key>
    <string>{{332,458},{71,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,66}</string>
    <key>spriteSourceSize</key>
    <string>{75,66}</string>
    <key>textureRect</key>
    <string>{{332,382},{75,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{74,65}</string>
    <key>spriteSourceSize</key>
    <string>{74,65}</string>
    <key>textureRect</key>
    <string>{{459,308},{74,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{67,65}</string>
    <key>spriteSourceSize</key>
    <string>{67,65}</string>
    <key>textureRect</key>
    <string>{{459,383},{67,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,126}</string>
    <key>spriteSourceSize</key>
    <string>{126,126}</string>
    <key>textureRect</key>
    <string>{{342,0},{126,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{59,65}</string>
    <key>spriteSourceSize</key>
    <string>{59,65}</string>
    <key>textureRect</key>
    <string>{{413,529},{59,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,68}</string>
    <key>spriteSourceSize</key>
    <string>{72,68}</string>
    <key>textureRect</key>
    <string>{{459,230},{72,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,65}</string>
    <key>spriteSourceSize</key>
    <string>{66,65}</string>
    <key>textureRect</key>
    <string>{{332,533},{66,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,58}</string>
    <key>spriteSourceSize</key>
    <string>{52,58}</string>
    <key>textureRect</key>
    <string>{{264,543},{52,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,61}</string>
    <key>spriteSourceSize</key>
    <string>{71,61}</string>
    <key>textureRect</key>
    <string>{{413,458},{71,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,53}</string>
    <key>spriteSourceSize</key>
    <string>{75,53}</string>
    <key>textureRect</key>
    <string>{{179,543},{75,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,122}</string>
    <key>spriteSourceSize</key>
    <string>{32,122}</string>
    <key>textureRect</key>
    <string>{{110,467},{32,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,95}</string>
    <key>spriteSourceSize</key>
    <string>{14,95}</string>
    <key>textureRect</key>
    <string>{{152,467},{14,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1,44}</string>
    <key>spriteSourceSize</key>
    <string>{1,44}</string>
    <key>textureRect</key>
    <string>{{158,178},{1,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,102}</string>
    <key>spriteSourceSize</key>
    <string>{100,102}</string>
    <key>textureRect</key>
    <string>{{0,467},{100,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,76}</string>
    <key>spriteSourceSize</key>
    <string>{72,76}</string>
    <key>textureRect</key>
    <string>{{459,144},{72,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,97}</string>
    <key>spriteSourceSize</key>
    <string>{94,97}</string>
    <key>textureRect</key>
    <string>{{478,0},{94,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{169,168}</string>
    <key>spriteSourceSize</key>
    <string>{169,168}</string>
    <key>textureRect</key>
    <string>{{0,0},{169,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,142}</string>
    <key>spriteSourceSize</key>
    <string>{143,142}</string>
    <key>textureRect</key>
    <string>{{179,144},{143,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,141}</string>
    <key>spriteSourceSize</key>
    <string>{148,141}</string>
    <key>textureRect</key>
    <string>{{0,178},{148,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./dark9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{153,134}</string>
    <key>spriteSourceSize</key>
    <string>{153,134}</string>
    <key>textureRect</key>
    <string>{{179,0},{153,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{582,611}</string>
   <key>textureFileName</key>
   <string>Dark.png</string>
  </dict>
 </dict>
</plist>
