<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./fire0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,102}</string>
    <key>spriteSourceSize</key>
    <string>{104,102}</string>
    <key>textureRect</key>
    <string>{{179,431},{104,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,125}</string>
    <key>spriteSourceSize</key>
    <string>{126,125}</string>
    <key>textureRect</key>
    <string>{{179,296},{126,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{157,128}</string>
    <key>spriteSourceSize</key>
    <string>{157,128}</string>
    <key>textureRect</key>
    <string>{{0,329},{157,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{117,111}</string>
    <key>spriteSourceSize</key>
    <string>{117,111}</string>
    <key>textureRect</key>
    <string>{{332,144},{117,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,107}</string>
    <key>spriteSourceSize</key>
    <string>{112,107}</string>
    <key>textureRect</key>
    <string>{{332,265},{112,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{179,543},{52,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,55}</string>
    <key>spriteSourceSize</key>
    <string>{52,55}</string>
    <key>textureRect</key>
    <string>{{486,527},{52,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,57}</string>
    <key>spriteSourceSize</key>
    <string>{52,57}</string>
    <key>textureRect</key>
    <string>{{502,453},{52,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,63}</string>
    <key>spriteSourceSize</key>
    <string>{71,63}</string>
    <key>textureRect</key>
    <string>{{332,457},{71,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,65}</string>
    <key>spriteSourceSize</key>
    <string>{75,65}</string>
    <key>textureRect</key>
    <string>{{332,382},{75,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{74,64}</string>
    <key>spriteSourceSize</key>
    <string>{74,64}</string>
    <key>textureRect</key>
    <string>{{459,227},{74,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{67,66}</string>
    <key>spriteSourceSize</key>
    <string>{67,66}</string>
    <key>textureRect</key>
    <string>{{417,451},{67,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,126}</string>
    <key>spriteSourceSize</key>
    <string>{126,126}</string>
    <key>textureRect</key>
    <string>{{342,0},{126,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{59,68}</string>
    <key>spriteSourceSize</key>
    <string>{59,68}</string>
    <key>textureRect</key>
    <string>{{417,527},{59,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,63}</string>
    <key>spriteSourceSize</key>
    <string>{72,63}</string>
    <key>textureRect</key>
    <string>{{459,301},{72,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,61}</string>
    <key>spriteSourceSize</key>
    <string>{66,61}</string>
    <key>textureRect</key>
    <string>{{502,382},{66,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,57}</string>
    <key>spriteSourceSize</key>
    <string>{52,57}</string>
    <key>textureRect</key>
    <string>{{502,453},{52,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,61}</string>
    <key>spriteSourceSize</key>
    <string>{71,61}</string>
    <key>textureRect</key>
    <string>{{332,530},{71,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,59}</string>
    <key>spriteSourceSize</key>
    <string>{75,59}</string>
    <key>textureRect</key>
    <string>{{417,382},{75,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,122}</string>
    <key>spriteSourceSize</key>
    <string>{32,122}</string>
    <key>textureRect</key>
    <string>{{110,467},{32,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,95}</string>
    <key>spriteSourceSize</key>
    <string>{14,95}</string>
    <key>textureRect</key>
    <string>{{152,467},{14,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1,44}</string>
    <key>spriteSourceSize</key>
    <string>{1,44}</string>
    <key>textureRect</key>
    <string>{{158,178},{1,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,102}</string>
    <key>spriteSourceSize</key>
    <string>{100,102}</string>
    <key>textureRect</key>
    <string>{{0,467},{100,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,73}</string>
    <key>spriteSourceSize</key>
    <string>{72,73}</string>
    <key>textureRect</key>
    <string>{{459,144},{72,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,97}</string>
    <key>spriteSourceSize</key>
    <string>{94,97}</string>
    <key>textureRect</key>
    <string>{{478,0},{94,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{169,168}</string>
    <key>spriteSourceSize</key>
    <string>{169,168}</string>
    <key>textureRect</key>
    <string>{{0,0},{169,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,142}</string>
    <key>spriteSourceSize</key>
    <string>{143,142}</string>
    <key>textureRect</key>
    <string>{{179,144},{143,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,141}</string>
    <key>spriteSourceSize</key>
    <string>{148,141}</string>
    <key>textureRect</key>
    <string>{{0,178},{148,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./fire9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{153,134}</string>
    <key>spriteSourceSize</key>
    <string>{153,134}</string>
    <key>textureRect</key>
    <string>{{179,0},{153,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{582,605}</string>
   <key>textureFileName</key>
   <string>Fire.png</string>
  </dict>
 </dict>
</plist>
