<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./shoot0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{140,204}</string>
    <key>spriteSourceSize</key>
    <string>{140,204}</string>
    <key>textureRect</key>
    <string>{{2198,814},{140,204}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{288,364}</string>
    <key>spriteSourceSize</key>
    <string>{288,364}</string>
    <key>textureRect</key>
    <string>{{1900,814},{288,364}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{398,408}</string>
    <key>spriteSourceSize</key>
    <string>{398,408}</string>
    <key>textureRect</key>
    <string>{{1492,814},{398,408}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{396,406}</string>
    <key>spriteSourceSize</key>
    <string>{396,406}</string>
    <key>textureRect</key>
    <string>{{1648,1242},{396,406}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{292,350}</string>
    <key>spriteSourceSize</key>
    <string>{292,350}</string>
    <key>textureRect</key>
    <string>{{828,1652},{292,350}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{292,352}</string>
    <key>spriteSourceSize</key>
    <string>{292,352}</string>
    <key>textureRect</key>
    <string>{{0,1650},{292,352}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{282,330}</string>
    <key>spriteSourceSize</key>
    <string>{282,330}</string>
    <key>textureRect</key>
    <string>{{2054,1242},{282,330}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{448,348}</string>
    <key>spriteSourceSize</key>
    <string>{448,348}</string>
    <key>textureRect</key>
    <string>{{1628,0},{448,348}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{532,386}</string>
    <key>spriteSourceSize</key>
    <string>{532,386}</string>
    <key>textureRect</key>
    <string>{{1086,0},{532,386}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{534,392}</string>
    <key>spriteSourceSize</key>
    <string>{534,392}</string>
    <key>textureRect</key>
    <string>{{536,832},{534,392}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{412,398}</string>
    <key>spriteSourceSize</key>
    <string>{412,398}</string>
    <key>textureRect</key>
    <string>{{0,1242},{412,398}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{412,408}</string>
    <key>spriteSourceSize</key>
    <string>{412,408}</string>
    <key>textureRect</key>
    <string>{{1086,396},{412,408}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{406,400}</string>
    <key>spriteSourceSize</key>
    <string>{406,400}</string>
    <key>textureRect</key>
    <string>{{828,1242},{406,400}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot44</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{536,406}</string>
    <key>spriteSourceSize</key>
    <string>{536,406}</string>
    <key>textureRect</key>
    <string>{{0,0},{536,406}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot45</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{534,406}</string>
    <key>spriteSourceSize</key>
    <string>{534,406}</string>
    <key>textureRect</key>
    <string>{{0,416},{534,406}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot46</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{530,402}</string>
    <key>spriteSourceSize</key>
    <string>{530,402}</string>
    <key>textureRect</key>
    <string>{{544,416},{530,402}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot47</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{530,406}</string>
    <key>spriteSourceSize</key>
    <string>{530,406}</string>
    <key>textureRect</key>
    <string>{{546,0},{530,406}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot48</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{526,400}</string>
    <key>spriteSourceSize</key>
    <string>{526,400}</string>
    <key>textureRect</key>
    <string>{{0,832},{526,400}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot49</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{278,328}</string>
    <key>spriteSourceSize</key>
    <string>{278,328}</string>
    <key>textureRect</key>
    <string>{{1842,1664},{278,328}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{396,408}</string>
    <key>spriteSourceSize</key>
    <string>{396,408}</string>
    <key>textureRect</key>
    <string>{{1916,396},{396,408}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot50</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{284,330}</string>
    <key>spriteSourceSize</key>
    <string>{284,330}</string>
    <key>textureRect</key>
    <string>{{1548,1664},{284,330}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot51</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{294,340}</string>
    <key>spriteSourceSize</key>
    <string>{294,340}</string>
    <key>textureRect</key>
    <string>{{1244,1664},{294,340}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot52</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{296,344}</string>
    <key>spriteSourceSize</key>
    <string>{296,344}</string>
    <key>textureRect</key>
    <string>{{422,1664},{296,344}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot53</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{276,330}</string>
    <key>spriteSourceSize</key>
    <string>{276,330}</string>
    <key>textureRect</key>
    <string>{{2086,0},{276,330}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot54</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,288}</string>
    <key>spriteSourceSize</key>
    <string>{202,288}</string>
    <key>textureRect</key>
    <string>{{2130,1664},{202,288}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot55</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{130,180}</string>
    <key>spriteSourceSize</key>
    <string>{130,180}</string>
    <key>textureRect</key>
    <string>{{2198,1028},{130,180}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{398,408}</string>
    <key>spriteSourceSize</key>
    <string>{398,408}</string>
    <key>textureRect</key>
    <string>{{1508,396},{398,408}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,412}</string>
    <key>spriteSourceSize</key>
    <string>{394,412}</string>
    <key>textureRect</key>
    <string>{{1244,1242},{394,412}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{396,412}</string>
    <key>spriteSourceSize</key>
    <string>{396,412}</string>
    <key>textureRect</key>
    <string>{{422,1242},{396,412}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shoot9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{396,412}</string>
    <key>spriteSourceSize</key>
    <string>{396,412}</string>
    <key>textureRect</key>
    <string>{{1086,814},{396,412}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2372,2018}</string>
   <key>textureFileName</key>
   <string>Shoot.png</string>
  </dict>
 </dict>
</plist>
