<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./wind0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,102}</string>
    <key>spriteSourceSize</key>
    <string>{104,102}</string>
    <key>textureRect</key>
    <string>{{179,431},{104,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,125}</string>
    <key>spriteSourceSize</key>
    <string>{126,125}</string>
    <key>textureRect</key>
    <string>{{179,296},{126,125}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{157,128}</string>
    <key>spriteSourceSize</key>
    <string>{157,128}</string>
    <key>textureRect</key>
    <string>{{0,329},{157,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{117,111}</string>
    <key>spriteSourceSize</key>
    <string>{117,111}</string>
    <key>textureRect</key>
    <string>{{332,144},{117,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,107}</string>
    <key>spriteSourceSize</key>
    <string>{112,107}</string>
    <key>textureRect</key>
    <string>{{332,265},{112,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{498,452},{52,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{179,543},{52,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,60}</string>
    <key>spriteSourceSize</key>
    <string>{71,60}</string>
    <key>textureRect</key>
    <string>{{332,455},{71,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,58}</string>
    <key>spriteSourceSize</key>
    <string>{75,58}</string>
    <key>textureRect</key>
    <string>{{459,226},{75,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{74,56}</string>
    <key>spriteSourceSize</key>
    <string>{74,56}</string>
    <key>textureRect</key>
    <string>{{414,452},{74,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{67,56}</string>
    <key>spriteSourceSize</key>
    <string>{67,56}</string>
    <key>textureRect</key>
    <string>{{495,382},{67,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,126}</string>
    <key>spriteSourceSize</key>
    <string>{126,126}</string>
    <key>textureRect</key>
    <string>{{342,0},{126,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{59,60}</string>
    <key>spriteSourceSize</key>
    <string>{59,60}</string>
    <key>textureRect</key>
    <string>{{414,518},{59,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,63}</string>
    <key>spriteSourceSize</key>
    <string>{72,63}</string>
    <key>textureRect</key>
    <string>{{332,382},{72,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,60}</string>
    <key>spriteSourceSize</key>
    <string>{66,60}</string>
    <key>textureRect</key>
    <string>{{332,525},{66,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind23</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{241,543},{52,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind24</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,60}</string>
    <key>spriteSourceSize</key>
    <string>{71,60}</string>
    <key>textureRect</key>
    <string>{{414,382},{71,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind25</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,57}</string>
    <key>spriteSourceSize</key>
    <string>{75,57}</string>
    <key>textureRect</key>
    <string>{{459,294},{75,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind26</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,122}</string>
    <key>spriteSourceSize</key>
    <string>{32,122}</string>
    <key>textureRect</key>
    <string>{{110,467},{32,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,95}</string>
    <key>spriteSourceSize</key>
    <string>{14,95}</string>
    <key>textureRect</key>
    <string>{{152,467},{14,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1,44}</string>
    <key>spriteSourceSize</key>
    <string>{1,44}</string>
    <key>textureRect</key>
    <string>{{158,178},{1,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,102}</string>
    <key>spriteSourceSize</key>
    <string>{100,102}</string>
    <key>textureRect</key>
    <string>{{0,467},{100,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,72}</string>
    <key>spriteSourceSize</key>
    <string>{72,72}</string>
    <key>textureRect</key>
    <string>{{459,144},{72,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,97}</string>
    <key>spriteSourceSize</key>
    <string>{94,97}</string>
    <key>textureRect</key>
    <string>{{478,0},{94,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{169,168}</string>
    <key>spriteSourceSize</key>
    <string>{169,168}</string>
    <key>textureRect</key>
    <string>{{0,0},{169,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{143,142}</string>
    <key>spriteSourceSize</key>
    <string>{143,142}</string>
    <key>textureRect</key>
    <string>{{179,144},{143,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,141}</string>
    <key>spriteSourceSize</key>
    <string>{148,141}</string>
    <key>textureRect</key>
    <string>{{0,178},{148,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./wind9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{153,134}</string>
    <key>spriteSourceSize</key>
    <string>{153,134}</string>
    <key>textureRect</key>
    <string>{{179,0},{153,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{582,605}</string>
   <key>textureFileName</key>
   <string>Wind.png</string>
  </dict>
 </dict>
</plist>
