<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./magicBar0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{65,0},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,54}</string>
    <key>spriteSourceSize</key>
    <string>{55,54}</string>
    <key>textureRect</key>
    <string>{{0,195},{55,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,54}</string>
    <key>spriteSourceSize</key>
    <string>{55,54}</string>
    <key>textureRect</key>
    <string>{{65,195},{55,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{65,130},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{130,65},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,55}</string>
    <key>spriteSourceSize</key>
    <string>{54,55}</string>
    <key>textureRect</key>
    <string>{{195,129},{54,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,55}</string>
    <key>spriteSourceSize</key>
    <string>{54,55}</string>
    <key>textureRect</key>
    <string>{{194,194},{54,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,54}</string>
    <key>spriteSourceSize</key>
    <string>{55,54}</string>
    <key>textureRect</key>
    <string>{{130,130},{55,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,54}</string>
    <key>spriteSourceSize</key>
    <string>{55,54}</string>
    <key>textureRect</key>
    <string>{{195,0},{55,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{0,65},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{65,65},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,55}</string>
    <key>spriteSourceSize</key>
    <string>{54,55}</string>
    <key>textureRect</key>
    <string>{{195,64},{54,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,55}</string>
    <key>spriteSourceSize</key>
    <string>{54,55}</string>
    <key>textureRect</key>
    <string>{{130,194},{54,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{130,0},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magicBar9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{0,130},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{260,259}</string>
   <key>textureFileName</key>
   <string>MagicBar.png</string>
  </dict>
 </dict>
</plist>
