<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./sun</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{203,203}</string>
    <key>spriteSourceSize</key>
    <string>{203,203}</string>
    <key>textureRect</key>
    <string>{{20,20},{203,203}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,148}</string>
    <key>spriteSourceSize</key>
    <string>{155,148}</string>
    <key>textureRect</key>
    <string>{{720,243},{155,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,148}</string>
    <key>spriteSourceSize</key>
    <string>{155,148}</string>
    <key>textureRect</key>
    <string>{{20,768},{155,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{20,243},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{195,243},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{418,20},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{20,418},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{370,243},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun15</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{195,418},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun16</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{370,418},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun17</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{545,243},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun18</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{593,20},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun19</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{20,593},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,148}</string>
    <key>spriteSourceSize</key>
    <string>{155,148}</string>
    <key>textureRect</key>
    <string>{{195,768},{155,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun20</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{195,593},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun21</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{545,418},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun22</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{370,593},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,148}</string>
    <key>spriteSourceSize</key>
    <string>{155,148}</string>
    <key>textureRect</key>
    <string>{{545,593},{155,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,148}</string>
    <key>spriteSourceSize</key>
    <string>{155,148}</string>
    <key>textureRect</key>
    <string>{{720,411},{155,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,148}</string>
    <key>spriteSourceSize</key>
    <string>{155,148}</string>
    <key>textureRect</key>
    <string>{{370,768},{155,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,148}</string>
    <key>spriteSourceSize</key>
    <string>{155,148}</string>
    <key>textureRect</key>
    <string>{{720,579},{155,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,148}</string>
    <key>spriteSourceSize</key>
    <string>{155,148}</string>
    <key>textureRect</key>
    <string>{{545,761},{155,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,148}</string>
    <key>spriteSourceSize</key>
    <string>{155,148}</string>
    <key>textureRect</key>
    <string>{{720,747},{155,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sun9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{155,155}</string>
    <key>spriteSourceSize</key>
    <string>{155,155}</string>
    <key>textureRect</key>
    <string>{{243,20},{155,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{915,956}</string>
   <key>textureFileName</key>
   <string>Explosion1.png</string>
  </dict>
 </dict>
</plist>
