<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Explosion0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,47}</string>
    <key>spriteSourceSize</key>
    <string>{46,47}</string>
    <key>textureRect</key>
    <string>{{97,178},{46,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Explosion1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{77,57}</string>
    <key>spriteSourceSize</key>
    <string>{77,57}</string>
    <key>textureRect</key>
    <string>{{20,101},{77,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Explosion10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,32}</string>
    <key>spriteSourceSize</key>
    <string>{31,32}</string>
    <key>textureRect</key>
    <string>{{217,230},{31,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Explosion2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,61}</string>
    <key>spriteSourceSize</key>
    <string>{75,61}</string>
    <key>textureRect</key>
    <string>{{20,20},{75,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Explosion3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,52}</string>
    <key>spriteSourceSize</key>
    <string>{57,52}</string>
    <key>textureRect</key>
    <string>{{117,101},{57,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Explosion4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,54}</string>
    <key>spriteSourceSize</key>
    <string>{58,54}</string>
    <key>textureRect</key>
    <string>{{115,20},{58,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Explosion5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{57,48}</string>
    <key>spriteSourceSize</key>
    <string>{57,48}</string>
    <key>textureRect</key>
    <string>{{20,178},{57,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Explosion6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,41}</string>
    <key>spriteSourceSize</key>
    <string>{56,41}</string>
    <key>textureRect</key>
    <string>{{193,20},{56,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Explosion7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,36}</string>
    <key>spriteSourceSize</key>
    <string>{47,36}</string>
    <key>textureRect</key>
    <string>{{194,101},{47,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Explosion8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,33}</string>
    <key>spriteSourceSize</key>
    <string>{34,33}</string>
    <key>textureRect</key>
    <string>{{163,178},{34,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Explosion9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,32}</string>
    <key>spriteSourceSize</key>
    <string>{31,32}</string>
    <key>textureRect</key>
    <string>{{217,178},{31,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{289,302}</string>
   <key>textureFileName</key>
   <string>Explosion.png</string>
  </dict>
 </dict>
</plist>
