<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./LightningFirstCharge0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{188,20},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningFirstCharge1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{256,20},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningFirstCharge2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{20,296},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningFistAttack0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{224,212},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningFistAttack1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{224,280},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningFistAttack2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{292,212},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningFistAttack3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{292,280},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningFistAttackLarge0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{20,20},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningFistAttackLarge1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{104,20},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningFistAttackLarge2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{20,104},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningGirlLand0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,88}</string>
    <key>spriteSourceSize</key>
    <string>{40,88}</string>
    <key>textureRect</key>
    <string>{{284,104},{40,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningGirlLand1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,88}</string>
    <key>spriteSourceSize</key>
    <string>{40,88}</string>
    <key>textureRect</key>
    <string>{{104,104},{40,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningGirlLand2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,88}</string>
    <key>spriteSourceSize</key>
    <string>{40,88}</string>
    <key>textureRect</key>
    <string>{{164,104},{40,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningGirlLand3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,88}</string>
    <key>spriteSourceSize</key>
    <string>{40,88}</string>
    <key>textureRect</key>
    <string>{{20,188},{40,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningGirlLand4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,88}</string>
    <key>spriteSourceSize</key>
    <string>{40,88}</string>
    <key>textureRect</key>
    <string>{{104,212},{40,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningGirlLand5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,88}</string>
    <key>spriteSourceSize</key>
    <string>{40,88}</string>
    <key>textureRect</key>
    <string>{{224,104},{40,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LightningGirlLand6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,88}</string>
    <key>spriteSourceSize</key>
    <string>{40,88}</string>
    <key>textureRect</key>
    <string>{{164,212},{40,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{380,384}</string>
   <key>textureFileName</key>
   <string>LightingAttack.png</string>
  </dict>
 </dict>
</plist>
