<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Lightdash0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{124,124}</string>
    <key>spriteSourceSize</key>
    <string>{124,124}</string>
    <key>textureRect</key>
    <string>{{0,0},{124,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Lightdash1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{124,124}</string>
    <key>spriteSourceSize</key>
    <string>{124,124}</string>
    <key>textureRect</key>
    <string>{{154,0},{124,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Lightdash2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{124,124}</string>
    <key>spriteSourceSize</key>
    <string>{124,124}</string>
    <key>textureRect</key>
    <string>{{0,154},{124,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Lightdash3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{124,124}</string>
    <key>spriteSourceSize</key>
    <string>{124,124}</string>
    <key>textureRect</key>
    <string>{{154,154},{124,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Lightdash4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{124,124}</string>
    <key>spriteSourceSize</key>
    <string>{124,124}</string>
    <key>textureRect</key>
    <string>{{308,0},{124,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Lightdash5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{124,124}</string>
    <key>spriteSourceSize</key>
    <string>{124,124}</string>
    <key>textureRect</key>
    <string>{{0,308},{124,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{462,462}</string>
   <key>textureFileName</key>
   <string>LightDash.png</string>
  </dict>
 </dict>
</plist>
