<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Lighting0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,37}</string>
    <key>spriteSourceSize</key>
    <string>{112,37}</string>
    <key>textureRect</key>
    <string>{{20,77},{112,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Lighting1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,37}</string>
    <key>spriteSourceSize</key>
    <string>{112,37}</string>
    <key>textureRect</key>
    <string>{{20,134},{112,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Lighting2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,37}</string>
    <key>spriteSourceSize</key>
    <string>{112,37}</string>
    <key>textureRect</key>
    <string>{{152,20},{112,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Lighting3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,37}</string>
    <key>spriteSourceSize</key>
    <string>{112,37}</string>
    <key>textureRect</key>
    <string>{{152,77},{112,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Lighting4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,37}</string>
    <key>spriteSourceSize</key>
    <string>{112,37}</string>
    <key>textureRect</key>
    <string>{{20,20},{112,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{304,211}</string>
   <key>textureFileName</key>
   <string>Lighting.png</string>
  </dict>
 </dict>
</plist>
