<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Skill0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,99}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{256,343},{100,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{98,99}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{366,123},{98,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{116,116}</string>
    <key>textureRect</key>
    <string>{{258,0},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,111}</string>
    <key>spriteSourceSize</key>
    <string>{112,112}</string>
    <key>textureRect</key>
    <string>{{0,262},{112,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,100}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{256,123},{100,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{98,98}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{366,232},{98,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,100}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{256,233},{100,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,107}</string>
    <key>spriteSourceSize</key>
    <string>{112,108}</string>
    <key>textureRect</key>
    <string>{{132,246},{112,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{122,129}</string>
    <key>spriteSourceSize</key>
    <string>{124,132}</string>
    <key>textureRect</key>
    <string>{{0,0},{122,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{116,116}</string>
    <key>textureRect</key>
    <string>{{0,139},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{114,113}</string>
    <key>spriteSourceSize</key>
    <string>{116,116}</string>
    <key>textureRect</key>
    <string>{{132,123},{114,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Skill9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{116,113}</string>
    <key>spriteSourceSize</key>
    <string>{116,116}</string>
    <key>textureRect</key>
    <string>{{132,0},{116,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{474,452}</string>
   <key>textureFileName</key>
   <string>rewindTime.png</string>
  </dict>
 </dict>
</plist>
