<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./TypeER1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{16,16},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./TypeER2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{32,0},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./TypeER3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{32,16},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./TypeER4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{0,0},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./TypeER5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{16,0},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./TypeER6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{0,16},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{48,32}</string>
   <key>textureFileName</key>
   <string>TypeE_red.png</string>
  </dict>
 </dict>
</plist>
