<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{1162,1227},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{581,1636},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{1162,409},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{581,1227},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{1162,818},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{0,1636},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{0,0},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{0,409},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{581,0},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{581,409},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{0,818},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{581,818},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{1162,0},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bda2eb1ea7684b3b984d63e3baf99149yqovi9iAfGONW9OW-9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{571,399}</string>
    <key>spriteSourceSize</key>
    <string>{571,399}</string>
    <key>textureRect</key>
    <string>{{0,1227},{571,399}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{2045,2045}</string>
   <key>textureFileName</key>
   <string>ComboSkill1.png</string>
  </dict>
 </dict>
</plist>
