<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./FireBeamTip0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{38,36}</string>
    <key>spriteSourceSize</key>
    <string>{38,42}</string>
    <key>textureRect</key>
    <string>{{0,0},{38,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./FireBeamTip1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{38,36}</string>
    <key>spriteSourceSize</key>
    <string>{38,42}</string>
    <key>textureRect</key>
    <string>{{0,46},{38,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./FireBeamTip2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{34,36}</string>
    <key>spriteSourceSize</key>
    <string>{38,42}</string>
    <key>textureRect</key>
    <string>{{48,0},{34,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{92,92}</string>
   <key>textureFileName</key>
   <string>FireBeamTip.png</string>
  </dict>
 </dict>
</plist>
